@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*
* {
  box-sizing: border-box;
}
*/

body {
  background-color: #30336b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  text-align: center;
}

button {
  background-color: silver;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: -70px 20px 20px;
}

.timer-container h2 {
  margin: 0;
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
  width: 40px;
}

.clock-container {
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 100px;
  margin-top: 20px;
}

.clock-container span {
  font-size: 70px;
}

.clock-container h1 {
  margin: 0;
}
button {
  background-color: silver;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
}

user agent stylesheet
button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.fa, .fas {
  font-weight: 900;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}